mediation/scheduler/scheduler/src/wsdl/stbnms-acs_82/acsService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/" name="ACSServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/" schemaLocation="http://stbnms-acs:82/acsService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="deleteObject">
<part name="serialNumber" type="xsd:string"></part>
<part name="path" type="xsd:string"></part>
</message>
<message name="deleteObjectResponse">
<part name="return" type="tns:basicResponse"></part>
</message>
<message name="getDeviceInfo">
<part name="serialNumber" type="xsd:string"></part>
</message>
<message name="getDeviceInfoResponse">
<part name="return" type="tns:deviceInfoResponse"></part>
</message>
<message name="upgradeFirmware">
<part name="serialNumber" type="xsd:string"></part>
<part name="fileUrl" type="xsd:string"></part>
<part name="version" type="xsd:string"></part>
<part name="usernameFileServer" type="xsd:string"></part>
<part name="passwordFileServer" type="xsd:string"></part>
</message>
<message name="upgradeFirmwareResponse">
<part name="return" type="tns:basicResponse"></part>
</message>
<message name="upgradeFirmwareByPolicy">
<part name="serialNumber" type="xsd:string"></part>
<part name="fileUrl" type="xsd:string"></part>
<part name="version" type="xsd:string"></part>
<part name="usernameFileServer" type="xsd:string"></part>
<part name="passwordFileServer" type="xsd:string"></part>
<part name="policyId" type="xsd:long"></part>
<part name="deviceInfo" type="tns:deviceInfo"></part>
</message>
<message name="upgradeFirmwareByPolicyResponse">
<part name="return" type="tns:basicResponse"></part>
</message>
<message name="rebootDevice">
<part name="serialNumber" type="xsd:string"></part>
</message>
<message name="rebootDeviceResponse">
<part name="return" type="tns:basicResponse"></part>
</message>
<message name="getDataTree">
<part name="serialNumber" type="xsd:string"></part>
<part name="dataTree" type="xsd:string"></part>
</message>
<message name="getDataTreeResponse">
<part name="return" type="tns:basicResponse"></part>
</message>
<message name="setUserAccount">
<part name="serialNumber" type="xsd:string"></part>
<part name="userName" type="xsd:string"></part>
<part name="password" type="xsd:string"></part>
<part name="authenticationURL" type="xsd:string"></part>
</message>
<message name="setUserAccountResponse">
<part name="return" type="tns:basicResponse"></part>
</message>
<message name="getCPEStatus">
<part name="serialNumber" type="xsd:string"></part>
</message>
<message name="getCPEStatusResponse">
<part name="return" type="tns:basicResponse"></part>
</message>
<message name="setValue">
<part name="serialNumber" type="xsd:string"></part>
<part name="simpleObject" type="tns:arrayList"></part>
</message>
<message name="setValueResponse">
<part name="return" type="tns:basicResponse"></part>
</message>
<portType name="ACSService">
<operation name="deleteObject" parameterOrder="serialNumber path">
<input wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/deleteObjectRequest" message="tns:deleteObject"></input>
<output wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/deleteObjectResponse" message="tns:deleteObjectResponse"></output>
</operation>
<operation name="getDeviceInfo">
<input wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/getDeviceInfoRequest" message="tns:getDeviceInfo"></input>
<output wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/getDeviceInfoResponse" message="tns:getDeviceInfoResponse"></output>
</operation>
<operation name="upgradeFirmware" parameterOrder="serialNumber fileUrl version usernameFileServer passwordFileServer">
<input wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/upgradeFirmwareRequest" message="tns:upgradeFirmware"></input>
<output wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/upgradeFirmwareResponse" message="tns:upgradeFirmwareResponse"></output>
</operation>
<operation name="upgradeFirmwareByPolicy" parameterOrder="serialNumber fileUrl version usernameFileServer passwordFileServer policyId deviceInfo">
<input wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/upgradeFirmwareByPolicyRequest" message="tns:upgradeFirmwareByPolicy"></input>
<output wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/upgradeFirmwareByPolicyResponse" message="tns:upgradeFirmwareByPolicyResponse"></output>
</operation>
<operation name="rebootDevice">
<input wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/rebootDeviceRequest" message="tns:rebootDevice"></input>
<output wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/rebootDeviceResponse" message="tns:rebootDeviceResponse"></output>
</operation>
<operation name="getDataTree" parameterOrder="serialNumber dataTree">
<input wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/getDataTreeRequest" message="tns:getDataTree"></input>
<output wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/getDataTreeResponse" message="tns:getDataTreeResponse"></output>
</operation>
<operation name="setUserAccount" parameterOrder="serialNumber userName password authenticationURL">
<input wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/setUserAccountRequest" message="tns:setUserAccount"></input>
<output wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/setUserAccountResponse" message="tns:setUserAccountResponse"></output>
</operation>
<operation name="getCPEStatus">
<input wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/getCPEStatusRequest" message="tns:getCPEStatus"></input>
<output wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/getCPEStatusResponse" message="tns:getCPEStatusResponse"></output>
</operation>
<operation name="setValue" parameterOrder="serialNumber simpleObject">
<input wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/setValueRequest" message="tns:setValue"></input>
<output wsam:Action="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/ACSService/setValueResponse" message="tns:setValueResponse"></output>
</operation>
</portType>
<binding name="ACSServiceImplPortBinding" type="tns:ACSService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="deleteObject">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</output>
</operation>
<operation name="getDeviceInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</output>
</operation>
<operation name="upgradeFirmware">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</output>
</operation>
<operation name="upgradeFirmwareByPolicy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</output>
</operation>
<operation name="rebootDevice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</output>
</operation>
<operation name="getDataTree">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</output>
</operation>
<operation name="setUserAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</output>
</operation>
<operation name="getCPEStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</output>
</operation>
<operation name="setValue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://services.stbacs.mediation.nms.ssdc.vnpttech.vn/"></soap:body>
</output>
</operation>
</binding>
<service name="ACSServiceImplService">
<port name="ACSServiceImplPort" binding="tns:ACSServiceImplPortBinding">
<soap:address location="http://stbnms-acs:82/acsService"></soap:address>
</port>
</service>
</definitions>